DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
OAUTH_MS_CLIENT_ID="GpuSrvMgr2"
OAUTH_MS_AUTHORITY="https://auth.ikdoeict.be/auth/realms/ikdoeict/"
OAUTH_MS_CLIENT_SECRET=""
OAUTH_MS_REDIRECT_URL="http://localhost:3000/api/oauth/redirect"
COOKIE_SECRET="asdjfkjladsfjlkadslkjaf"
COOKIE_TTL=1296000
GPU_COUNT=2
TZ="Europe/Amsterdam"
FEDERATED_DOCKER_HUB_REPOSITORY="codestix/federated"